{% extends 'base.html' %}
{% load static %}
{% block link %}
    <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "todo_add" %}">Создать задачу</a>
    </li>
{% endblock %}
{% block content %}

        <style>
            .card {
                margin-bottom: 20px;
            }
        </style>

    <h1>Список проектов:</h1>

    <br>
    {% include 'partial/search_form.html' %}

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <div class="row">
        {% for project in projects %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mt-3" style="width: 18rem;">

                  <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    <p class="card-text">{{ project.start_date }}</p>
                    <p class="card-text">{{ project.end_date }}</p>

{#                    <div class="btn-group">#}
{#                      <a href="{% url "todo_view" todo.pk %}" class="btn btn-primary" >Детали</a>#}
{#                      <a href="{% url "update_todo" todo.pk %}" class="btn btn-warning">Изменить</a>#}
{#                      <a href="{% url "delete_todo" todo.pk %}" class="btn btn-danger">Удалить</a>#}
{#                    </div>#}

                  </div>
                </div>
            </div>
    </div>
        {% empty %}
        <h2>проекты не найдены</h2>
    {% endfor %}

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

{% endblock %}
